# Ignore build folders
Binaries/
DerivedDataCache/
Intermediate/

# Ignore user-specific files
*.user
*.userprefs
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Ignore macOS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
._*

# Ignore Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore Unix-specific files
*~

# Ignore Visual Studio Code folders and workspace setting files
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Ignore backup and hidden files commonly created by editors
._*.un~

# Ignore Jetbrains
.idea/
